<section>
  <div class="page-header">
    <h1 translate>{{vm.song._id ? 'EDIT_SONG' : 'NEW_SONG'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.songForm" class="form-horizontal" ng-submit="vm.save(vm.form.songForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name" translate>NAME</label>
          <input name="name" type="text" ng-model="vm.song.name" id="name" class="form-control" placeholder="Name" required>

          <label class="control-label" for="artist" translate>ARTIST</label>
          <input name="artist" type="text" ng-model="vm.song.artist" id="artist" class="form-control" placeholder="Artist">

          <label class="control-label" for="lyrics" translate>LYRICS</label>
          <textarea msd-elastic name="lyrics" ng-model="vm.song.lyrics" id="lyrics" class="form-control"></textarea>

          <label class="control-label" for="chords" translate>CHORDS</label>
          <input name="chords" type="text" ng-model="vm.song.chords" id="chords" class="form-control" >

           <label class="control-label" for="video" translate>VIDEO</label>
          <input name="video" type="text" ng-model="vm.song.video" id="video" class="form-control" >

          <div ng-messages="vm.form.songForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required" translate>SONG_NAME_REQUIRED</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" translate>{{vm.song._id ? 'UPDATE' : 'CREATE'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
