<section>
  <div class="page-header">
    <h1>{{'SONGS' | translate}}</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="song in vm.songs"
       data-ui-sref="songs.view({ songId: song._id })"
       class="list-group-item">
      
      <h4 class="list-group-item-heading" >{{song.name}}<small> {{song.artist}}</small></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.songs.$resolved && !vm.songs.length" translate>
    NO_SONGS_YET <a data-ui-sref="songs.create" translate>CREATE_ONE</a>?
  </div>
</section>
