<section>
  <div class="page-header">
    <h1>{{vm.song.name}}<small> {{vm.song.artist}}</small></h1>
  </div>
  <div  class="hidden-print pull-right"
       data-ng-show="vm.song.isCurrentUserOwner">
       <a class="btn btn-success" ng-click="openPrinter()">
      <i class="glyphicon glyphicon-print"></i>
    </a>
    <a class="btn btn-primary"
       data-ui-sref="songs.edit({ songId: vm.song._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
 <p class="text-success" data-ng-bind="vm.song.chords"></p>
 <p  data-ng-bind="vm.song.lyrics"></p>
 <ng-youtube-embed 
    url="vm.song.video" 
    
    color="white"
    disablekb="true"
    end="20"
    ng-show="vm.song.video">
</ng-youtube-embed>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.song.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.song.user"
            data-ng-bind="vm.song.user.displayName"></span>
      <span data-ng-if="!vm.song.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.song.content"></p>
</section>
